body {
overflow: hidden;
background-color: rgb(21,32,57);
}

 @font-face {
    font-family: Chilanka;
    src: url(Chilanka.ttf);
         /* url('css/chilanka-regular-webfont.woff2') format('woff2'),
         url('css/chilanka-regular-webfont.woff') format('woff'); */
    /* font-weight: bold;
    font-style: bold; */

}

canvas {

    font-family: Chilanka;

   }
   /* @font-face {
    font-family: meera;
    src: url(Meera-Regular.ttf);
} */
